{% extends 'base.html.twig' %}

{% block title %}Search | Accueil{% endblock %}

{% block body %}
    <main>
        <h1>Accueil</h1>
        <label for="search">Recherche :</label>
        <input name="search" type="text" placeholder="#fantasy, #horreur, ect...">
    </main>
{% endblock %}
