{% extends 'base.html.twig' %}
{% block title %}Search | inscription{% endblock %}
{% block body %}
<main>
    <h1 class="text-center">INSCRIPTION</h1>
    <form method="post" id="inscription" action="{{ path('inscription') }}">
        <section>
            <label for="username">Nom d'utilisateur</label>
            {{ form_widget(form.username) }}
        </section>
        <section>
            <label for="email">Adresse e-mail</label>
            {{ form_widget(form.email) }}
        </section>
        <section>
            <label for="password">Mot de passe</label>
            <input class="info" type="password" name="confirm-password" placeholder="*************">
        </section>
        <section>
            <label for="confirm-password">Confirmation mot de passe</label>
            <input class="info" type="password" name="confirm-password" placeholder="*************">
        </section>
        <input class="btn-orange mb-7 self-center" type="submit" value="Inscription">
    </form>
</main>
{% endblock %}