{% extends 'base.html.twig' %}
{% block title %}Search | inscription{% endblock %}
{% block body %}
<main>
    <h1 class="text-center">INSCRIPTION</h1>
    <form method="post" id="inscription" action="{{ path('inscription') }}">
        {{ form_widget(form) }}
        <input class="btn-orange mb-7 self-center" type="submit" value="Inscription">
    </form>
</main>
{% endblock %}