{% extends 'base.html.twig' %}

{% block title %}Search | Connexion{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center">CONNEXION</h1>
        <form method="post">
            <section>
                <label for="email">Adresse e-mail</label>
                <input class="info" type="email" name="email" placeholder="email@site.com">
            </section>
            <section id="sec-password">
                <label for="password">Mot de passe</label>
                <input class="info" type="password" name="password" placeholder="*************">
                <a href="#">mot de passe oublié ?</a>
            </section>
            <section class="flex-row mt-0">
                <input type="checkbox" id="remember" class="w-8 mr-6">
                <label for="remember">Rester connecté</label>
            </section>
            <input type="submit" class="btn-orange self-center" value="Connexion">
        </form>
    </main>
{% endblock %}
